.navbar {
    background-color: #333;
    /* overflow: hidden; */
    padding: 20px 30px;
    /* margin-top: 250px; */
    /* New */
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li a:hover {
    background-color:green;
    border-radius: 4px;
}
