body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust spacing between products */
    gap: 20px; /* Space between products */
}

.product {
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 1s ease;
}

.product-info {
    padding: 20px;
    text-align: center;
}

.product-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.product-info p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

.product-info button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make the button full width */
}

.product-info button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.product img:hover {
    transform: scale(1.05);
}

.add-to-cart-button {
    margin-top: 10px; /* Adjust as needed */
}

#productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
